<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">

            <div class="table-responsive">
                <div>
                    <label for="start">Fecha : &nbsp;</label>

                    <input type="date" [(ngModel)]="fecha" (ngModelChange)="cambiosFecha($event)" required> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button [disabled]="controlFechas" (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary "><span class="material-icons">
                        refresh
                        </span></button>

                </div>

                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Fecha</th>
                            <th>N° Transacción</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of pedidos">
                            <td>{{ pedido.IdPedido }}</td>
                            <td>{{ pedido.Fecha }}</td>
                            <td>{{ pedido.IdTransaccion }}</td>
                            <td>{{ pedido.ApNomCliente }}</td>
                            <td>{{ pedido.EstadoPedido }}</td>
                            <td>
                                <button [disabled]="pedido.EstadoPedido == 'C' || pedido.EstadoPedido == 'E'" class="btn btn-success" type="button" (click)="confirmarPedido(pedido.IdPedido)">Confirmar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->