<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">

            <div class="table-responsive">
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Fecha</th>
                            <th>N° Transacción</th>
                            <th>Cliente</th>
                            <th>Direccion</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of pedidos">
                            <td>{{ pedido.IdPedido }}</td>
                            <td>{{ pedido.Fecha }}</td>
                            <td>{{ pedido.IdTransaccion }}</td>
                            <td>{{ pedido.ApNomCliente }}</td>
                            <td>{{ pedido.Direccion }}</td>
                            <td>{{ pedido.Estado }}</td>
                            <td>
                                <button class="btn btn-inline" type="button">Editar</button>
                                <button class="btn btn-inline btn-danger" type="button">Eliminar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->