<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">

            <div>
                <label for="start">Fecha : &nbsp;</label>
                <input type="date" [(ngModel)]="fecha" (ngModelChange)="cambiosFecha($event)" required> &nbsp;&nbsp;&nbsp;&nbsp;
                <button [disabled]="controlFechas" (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary "><span class="material-icons">
                    refresh
                    </span>
                </button>
                <button style="margin-left: 30px;" class="text-right" type="button" (click)="altaBackup()" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i>
                    Nuevo Backup
                  </button>
            </div>
            <br>
            <div class="table-responsive">
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Nombre</th>
                            <th>Fecha Creacion</th>
                            <th>Fecha Sincronizacion</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let backup of backups;let indexOfelement=index;">
                            <td>{{ backup.IdBackup }}</td>
                            <td>{{ backup.nombre }}</td>
                            <td>{{ backup.created_at | date:"dd/MM/yyyy"}}</td>
                            <td>{{ backup.fecha_sinc | date:"dd/MM/yyyy"}}</td>
                            <td>{{ backup.EstadoBackup }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button *ngIf="cargando == false" [disabled]="backup.fecha_sinc !== null" (click)="sinc(backup.nombre,backup.IdBackup,indexOfelement)" class="btn btn-success" title="sincronizar">
                                        <i class="material-icons">
                                        backup
                                        </i>
                                    </button>
                                </div>
                                <div *ngIf="(indexOfelement == index) && cargando == true" class="spinner-border text-success" role="status">
                                    <span class="visually-hidden"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->
    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-12) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(12) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->