<div class="page-content">
    <div class="container-fluid">
        <div class="text-themecolor">
            <label>Tasa de interes : % {{tasaInteres}}</label>
        </div>
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Inversor:  </label>
                        <input (keyup.enter)="buscarInversores( )" #input type="text" class="form-control" placeholder="Buscar inversor..." id="inversorBuscado">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarInversores( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="refrescar( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                refresh
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary" style="margin-top: 26px;" data-toggle="modal" data-target="#responsive-modal-alta-inversor">
                            <i class="fa fa-plus"></i> 
                            Nuevo Inversor
                        </button>
                    </div>
                </div>
                <h4 class="card-title">Cantidad de inversores ( <small> {{ totalInversores }} </small> )</h4>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Apellidos y nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inversor of inversores">
                            <td>{{ inversor.id_persona }}</td>
                            <td>{{ inversor.apellidos }}, {{ inversor.nombres }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-inline btn-success"  data-toggle="modal" data-target="#responsive-modal-alta-monto-inversion">
                                        <i class="material-icons"> add </i>
                                    </button>
                                    <button class="btn btn-inline btn-warning" type="button" data-toggle="modal" data-target="#responsive-modal-baja-monto-inversion">
                                        <i class="material-icons"> remove </i>
                                    </button>    
                                    <button class="btn btn-inline btn-info" type="button" [routerLink]="['/dashboard/inversiones/inversores/historico',inversor.IdPersona]">
                                        <i class="material-icons"> wysiwyg </i>
                                    </button>                                
                                    <button class="btn btn-inline" type="button" [routerLink]="['/dashboard/inversiones/inversores',inversor.IdPersona]">
                                        <i class="material-icons"> edit </i>
                                    </button>
                                    <button class="btn btn-inline btn-danger" type="button" (click)="bajaInversor(inversor.IdPersona)">
                                        <i class="material-icons"> delete </i>
                                    </button>
                                </div>                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-12) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(12) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->

<!-- =========== MODAL Alta inversor =========== -->
<div class="col-md-4">
    <div id="responsive-modal-alta-inversor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alta inversor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Apellidos : </label>
                                <input type="text" [(ngModel)]="apellidos_alta_inversor" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label>Nombres : </label>
                                <input type="text" [(ngModel)]="nombres_alta_inversor" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label>Telefono : </label>
                                <input type="text" [(ngModel)]="telefono_alta_inversor" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label>DNI : </label>
                                <input type="text" [(ngModel)]="dni_alta_inversor" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label>Email : </label>
                                <input type="text" [(ngModel)]="email_alta_inversor" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label>Fecha nacimiento : </label>
                                <input type="date" [(ngModel)]="fecha_nac_alta_inversor" class="form-control">
                            </div>
                            <div class="col-sm-12">
                                <label>Observaciones : </label>
                                <textarea type="textarea" [(ngModel)]="observaciones_alta_inversor" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #divCerrarModalAltaInversor type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" (click)="alta_inversor()">Cargar inversor</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>


<!-- =========== MODAL nuevo monto a invertir =========== -->
<div id="responsive-modal-alta-monto-inversion" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nueva inversion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Monto a invertir : </label>
                            <input type="text" [(ngModel)]="monto_inversion" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <label>Fecha inversion : </label>
                            <input type="date" [(ngModel)]="fecha_alta_inversion" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <label>Observaciones : </label>
                            <textarea type="textarea" [(ngModel)]="observaciones_alta_inversion" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button #divCerrarModalAltaInversion type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" (click)="alta_inversion()">Cargar inversion</button>
            </div>
        </div>
    </div>
</div>

<!-- =========== MODAL baja monto a invertir =========== -->
<div id="responsive-modal-baja-monto-inversion" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Baja monto inversion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Monto a retirar : </label>
                            <input type="text" [(ngModel)]="monto_inversion" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <label>Fecha retiro : </label>
                            <input type="date" [(ngModel)]="fecha_alta_inversion" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <label>Observaciones : </label>
                            <textarea type="textarea" [(ngModel)]="observaciones_alta_inversion" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button #divCerrarModalBajaInversion type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" (click)="baja_monto_inversion()">Retirar</button>
            </div>
        </div>
    </div>
</div>