<div class="page-content">
    <div class="container-fluid">
        <div class="text-themecolor">
            <label>Tasa de interes : % {{tasaInteres}}</label>
        </div>
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Inversor:  </label>
                        <input (keyup.enter)="buscarInversores( )" #input type="text" class="form-control" placeholder="Buscar inversor..." id="inversorBuscado">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarInversores( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-2">
                        <button [routerLink]="['/dashboard/inversores/nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary" style="border-top-width: 0px;border-top-style: solid;margin-top: 30px;">
                          <i class="fa fa-plus"></i> 
                          Nuevo Inversor
                        </button>
                    </div>
                </div>
                <h4 class="card-title">Cantidad de inversores ( <small> {{ totalInversores }} </small> )</h4>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Apellidos y nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inversor of inversores">
                            <td>{{ inversor.IdPersona }}</td>
                            <td>{{ inversor.Apellidos }}, {{ inversor.Nombres }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-inline btn-success" type="button" [routerLink]="['/dashboard/inversiones/inversores/alta-monto',inversor.IdPersona]">
                                        <i class="material-icons"> add </i>
                                    </button>
                                    <button class="btn btn-inline btn-warning" type="button" [routerLink]="['/dashboard/inversiones/inversores/baja-monto',inversor.IdPersona]">
                                        <i class="material-icons"> remove </i>
                                    </button>    
                                    <button class="btn btn-inline btn-info" type="button" [routerLink]="['/dashboard/inversiones/inversores/historico',inversor.IdPersona]">
                                        <i class="material-icons"> wysiwyg </i>
                                    </button>                                
                                    <button class="btn btn-inline" type="button" [routerLink]="['/dashboard/inversiones/inversores',inversor.IdPersona]">
                                        <i class="material-icons"> edit </i>
                                    </button>
                                    <button class="btn btn-inline btn-danger" type="button" (click)="bajaInversor(inversor.IdPersona)">
                                        <i class="material-icons"> delete </i>
                                    </button>
                                </div>                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-12) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(12) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->

<!-- =========== MODAL =========== -->
<div *ngIf="activarModalNuevaInversion">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Monto a invertir</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                       
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Items de pago</h4>
                                    <div class="table-responsive">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- <button class="btn btn-lg btn-outline-primary" alt="default" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive">Continuar</button> -->

</div>