<main class="bg_gray">
    <div class="container margin_30">
        <div class="page_header">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>Mis compras</li>
                </ul>
            </div>
            <h1>Mis Compras</h1>
        </div>
        <div *ngIf="banderaComprasVacio">
            <br /><br />
            <div class="row justify-content-center">
                <div class="">
                    <div>
                        <div class="icon icon--order-success add_bottom_15">
                            <img class="fit-picture" [src]="ruta_img_empty_cart" alt="">
                        </div>
                        <h2>No realizaste ninguna compra aun</h2>
                        <p>Sin Sin compras</p>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <br /><br />
        </div>
        <div *ngIf="!banderaComprasVacio">
            <!-- /page_header -->
            <table class="table table-striped cart-list">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Sabor
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Cantidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemCompra of itemsCompras">
                        <td>
                            <span class="item_cart">{{itemCompra.IdTransaccion}}</span>
                        </td>
                        <td>
                            <span>{{itemCompra.Fecha}}</span>
                        </td>
                        <td>
                            <strong>{{itemCompra.Producto}}</strong>
                        </td>
                        <td>
                            <strong>{{itemCompra.Sabor}}</strong>
                        </td>
                        <td>
                            <strong>$ {{itemCompra.PrecioVenta}}</strong>
                        </td>
                        <td>
                            <strong>{{itemCompra.Cantidad}}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- /container -->
        </div>
    </div>
</main>
<!--/main-->