<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- ===== ** Dashboard ** ====== -->
                <li class="user-profile" [routerLink]="['/dashboard']">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Dashboard </span>
                    </a>
                </li>
                <!-- ===== ** Usuarios ** ====== -->
                <li class="user-profile" [routerLink]="['/dashboard/usuarios']" *ngIf="activarMenu('usuarios')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Usuarios </span>
                    </a>
                </li>
                <!-- ===== ** Proveedores ** ====== -->
                <li class="user-profile" [routerLink]="['proveedores']" *ngIf="activarMenu('proveedores')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Proveedores </span>
                    </a>
                </li>
                 <!-- ===== ** Clientes ** ====== -->
                 <li class="user-profile" (click)="expandirClientesFuncion()" *ngIf="activarMenu('clientes')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Clientes </span>
                    </a>
                    <ul aria-expanded="false" [ngClass]="expandirClientes ? 'collapse' : ''">
                        <li><a routerLinkActive="active" [routerLink]="['/dashboard/clientes']">Listar Clientes </a></li>
                        <li *ngIf="activarMenu('Cuentas')"><a [routerLink]="['/dashboard/clientes/cuentas']">Cuentas Corrientes</a></li>
                    </ul>
                </li>
                <!-- ===== ** Productos ** ====== -->
                <li class="user-profile" (click)="expandirProductosFuncion()" *ngIf="activarMenu('productos')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Productos </span>
                    </a>
                    <ul aria-expanded="false" [ngClass]="expandirProductos ? 'collapse' : ''">
                        <li><a routerLinkActive="active" [routerLink]="['/dashboard/productos']">Listar Productos </a></li>
                        <li><a [routerLink]="['/dashboard/productos/nuevo']">Nuevo producto</a></li>
                        <li><a [routerLink]="['/dashboard/productos/categorias']">Categorias</a></li>
                        <li><a [routerLink]="['/dashboard/productos/subcategorias']">Subcategorias</a></li>
                        <li><a [routerLink]="['/dashboard/productos/marcas']">Marcas</a></li>
                        <li><a [routerLink]="['/dashboard/productos/sabores']">Sabores</a></li>
                        <li><a [routerLink]="['/dashboard/productos/unidades']">Unidades</a></li>
                        <li ><a [routerLink]="['/dashboard/productos/promociones']">Promociones</a></li>
                        <li ><a [routerLink]="['/dashboard/productos/quimicos']">Quimicos</a></li>
                    </ul>
                </li>
                <!-- ===== ** Compras ** ====== -->
                <li class="user-profile" (click)="expandirComprasFuncion()" *ngIf="activarMenu('compras')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Compras </span>
                    </a>
                    <ul aria-expanded="false" [ngClass]="expandirCompras ? 'collapse' : ''">
                        <li *ngIf="activarSubMenu('Compras','Ver')"><a routerLinkActive="active" [routerLink]="['/dashboard/compras']">Listar Compras</a></li>
                        <li><a [routerLink]="['/dashboard/compras']">Listar compras</a></li>
                        <li><a [routerLink]="['/dashboard/compras/nueva']">Nueva compra</a></li>
                        <li><a [routerLink]="['/dashboard/compras/gastos/nuevo']">Nuevo gasto</a></li>
                        <li><a [routerLink]="['/dashboard/compras/gastos']">Listar gastos</a></li>
                    </ul>
                </li>
                <!-- ===== ** Ventas ** ====== -->
                <li class="user-profile" (click)="expandirVentasFuncion()" *ngIf="activarMenu('ventas')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Ventas </span>
                    </a>
                    <ul aria-expanded="false" [ngClass]="expandirVentas ? 'collapse' : ''">
                        <li><a [routerLink]="['/dashboard/ventas/listar']">Listar ventas</a></li>
                        <li><a [routerLink]="['/dashboard/ventas/nueva']">Nuevo venta</a></li>
                        <li><a [routerLink]="['/dashboard/ventas/usuario',IdPersona]">Mis ventas</a></li>
                        <li *ngIf="activarMenu('Pedidos')"><a [routerLink]="['/dashboard/ventas/pedidos']">Pedidos</a></li>
                    </ul>
                </li>
                <!-- ===== ** Transferencias ** ====== -->
                <li class="user-profile" (click)="expandirTransferenciasFuncion()" *ngIf="activarMenu('transferencias')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Transferencias </span>
                    </a>
                    <ul aria-expanded="false" [ngClass]="expandirTransferencias ? 'collapse' : ''">
                        <li *ngIf="activarSubMenu('Transferencias','Ver')"><a routerLinkActive="active">Listar Transferencias </a></li>
                        <li><a [routerLink]="['/dashboard/transferencias/nueva']">Nueva transferencia</a></li>
                        <li><a [routerLink]="['/dashboard/transferencias']">Listar transferencia</a></li>
                    </ul>
                </li>
                 <!-- ===== ** Inversiones ** ====== -->
                 <li class="user-profile" [routerLink]="['/dashboard/inversiones']" *ngIf="activarMenu('inversores')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Inversiones </span>
                    </a>
                </li>
                <!-- ===== ** Configuraciones ** ====== -->
                <li class="user-profile" [routerLink]="['/dashboard/configuraciones']" *ngIf="activarMenu('configuraciones')">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <span class="hide-menu">Configuraciones </span>
                    </a>
                </li>
                <br/>
                <li class="nav-devider"></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->