<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile" *ngIf="activarMenu('Usuarios')">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <span class="hide-menu">Usuarios </span>
                    </a>
                </li>
                <li class="user-profile" [routerLink]="['/proveedores']" *ngIf="activarMenu('Proveedores')">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <span class="hide-menu">Proveedores </span>
                    </a>
                </li>
                <li class="user-profile" *ngIf="activarMenu('Productos')">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <!-- <img [src]="usuario.imagenUrl" alt="user" /> -->
                        <span class="hide-menu">Productos </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" [routerLink]="['/productos']">Listar Productos </a></li>
                        <li><a [routerLink]="['/productos/importar']">Nuevo producto</a></li>
                        <li><a [routerLink]="['/unidades']">Unidades</a></li>
                        <li><a [routerLink]="['/categorias']">Categorias</a></li>
                        <li><a [routerLink]="['/subcategorias']">Subcategorias</a></li>
                        <li><a [routerLink]="['/marcas']">Marcas</a></li>
                    </ul>
                </li>
                <li class="user-profile" *ngIf="activarMenu('Ventas')">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <!-- <img [src]="usuario.imagenUrl" alt="user" /> -->
                        <span class="hide-menu">Productos </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" [routerLink]="['/ventas']">Listar Productos </a></li>
                        <li><a [routerLink]="['/ventas/nueva']">Nuevo producto</a></li>
                    </ul>
                </li>
                <li class="user-profile" *ngIf="activarMenu('Compras')">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <!-- <img [src]="usuario.imagenUrl" alt="user" /> -->
                        <span class="hide-menu">Productos </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" [routerLink]="['/compras']">Listar Productos </a></li>
                        <li><a [routerLink]="['/compras/nueva']">Nuevo producto</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->