<main class="bg_gray">
    <div class="container margin_60_35 add_bottom_30">
        <div class="main_title">
            <h2>Politicas de seguridad</h2>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="box_about">
                    <!-- <h2>Top Products</h2> -->
                    <p>Para nosotros tu información personal y las operaciones que realizas en nuestro Sitio son de suma importancia, por lo que implementamos estrictas medidas de seguridad para proteger tu información, asegurando: confidencialidad, disponibilidad
                        e integridad de la operatoria a través de Internet. Las principales medidas de seguridad que implementamos para protegerte de accesos NO autorizados son las siguientes:</p>
                </div>
                <div class="box_about">
                    <h2>Disponibilidad del servicio</h2>
                    <p>Contamos con planes de contingencias y continuidad de operaciones para los servicios que te ofrecemos por medio de Internet. Nuestro Sitio se encuentra disponible los 365 días del año.</p>
                </div>
                <div class="box_about">
                    <h2>Cifrado de datos</h2>
                    <p>Utilizamos técnicas de encriptación de datos (proceso de conversión que transforma los datos en una secuencia de datos únicos e ilegibles) para que tanto el canal de transmisión de información como el almacenamiento sean seguros. De
                        esta manera evitamos que terceros puedan ver lo que haces o qué información envías y recibís desde nuestro Sitio.</p>
                </div>
                <div class="box_about">
                    <h2>Seguridad Física</h2>
                    <p>Nuestros activos críticos (servidores, equipos de comunicaciones, etc.) relacionados con la operatoria web, se encuentran convenientemente resguardados. Nuestros Centros de Cómputos cuentan con efectivas medidas de seguridad en función
                        a las buenas prácticas y normativas de B.C.R.A.</p>
                </div>
                <div class="box_about">
                    <h2>Firewalls e IDS</h2>
                    <p>Aplicamos medidas de seguridad para delimitar nuestra red interna y externa, y de esta forma controlar la no existencia de intromisiones indeseadas a nuestros sistemas internos. Utilizamos Firewalls para analizar y filtrar conexiones
                        no deseadas que llegan a nuestros servidores. Adicionalmente contamos con un Sistema de detección y prevención de intrusos, el cual actúa en forma preventiva y elimina los riesgos de intromisión, monitoreando en tiempo real nuestra
                        red buscando posibles ataques. A su vez contamos con Sistemas de Detección de Virus. Desde la plataforma poseemos registros de las actividades que realizas en nuestro Sitio a modo de monitoreo.</p>
                </div>
                <div class="box_about">
                    <h2>Certificados de seguridad</h2>
                    <p>Podés certificar la autenticidad de nuestro Sitio, ya que cuando te logueas aparecerá un candado de seguridad en la barra de estado y la dirección mostrará nuestro nombre posponiendo la inscripción https://. la plataforma utiliza Certificados
                        SSL Sitio Seguro - GeoTrust Inc.</p>
                </div>
                <div class="box_about">
                    <h2>Protégete a ti mismo</h2>
                    <p>Es muy importante que tu información personal esté protegida porque puede ser utilizada con fines delictivos por terceros. Con el objetivo de prevenir estas situaciones, que generalmente repercuten en forma directa en tu cuenta y que
                        son muy difíciles de detectar y resolver, te presentamos algunas simples recomendaciones para que permanezcas seguro: - Te recomendamos que no dejes tu información personal al descubierto, para que no pueda ser accedida por malintencionados.
                        - Nunca respondas a correos electrónicos inesperados o de origen sospechoso y NO hagas "click" en enlaces o archivos adjuntos en mensajes de este tipo. - Existen ataques llamados "Phishing" que ocurren cuando malintencionados engañan
                        a los usuarios creando una identidad falsa para solicitar contraseñas o información de tarjeta de crédito. Al respecto, se sumamente cauto y responsable sobre la información que brindas y recuerda que la plataforma "nunca" te solicitará
                        develar tu contraseña. - Acostúmbrate a cerrar la sesión del Sitio, principalmente cuando accedes desde computadoras que son utilizadas por varias personas (ej. Cyber). De lo contrario, puede que la sesión permanezca disponible
                        para ser utilizada por otras personas. - Es importante que mantengamos tus datos actualizados en nuestra base de datos en caso de que tengamos que comunicarnos para confirmar detalles. - Si detectas irregularidades en tu información
                        vinculada con la operatoria del Sitio nos informes a través de e-mail o vía telefónica.</p>
                </div>
                <div class="box_about">
                    <h2>Protege tu computadora</h2>
                    <p>Si tu computadora está afectada de virus, tu información personal y financiera puede estar comprometida, por lo que te recomendamos que instales un software de Antivirus y lo actualices periódicamente. Este también te ayudará a prevenir
                        el Spyware (software malicioso que monitorea las actividades de tu computadora, tales como detalles de contraseñas o Sitios Web que has visitado). También te recomendamos que actualices las versiones de tu Navegador Internet Explorer
                        evitando contar con vulnerabilidades de seguridad. Siempre mantené el Firewall de tu computadora activo ya que previene el posible acceso de los usuarios no autorizados a tu información personal.</p>
                </div>
                <div class="box_about">
                    <h2>Elige una contraseña segura</h2>
                    <p>La mejor contraseña es la que te resulta fácil de recordar pero imposible de adivinar para cualquier otra persona. A continuación te recomendamos que hacer para que tu contraseña sea segura: - Nunca compartas tus contraseñas con nadie.
                        Y nunca debes escribir tus contraseñas o almacenarlas en tu computadora. - Te recomendamos que utilices letras de una frase o una canción. La mezcla de mayúsculas y minúsculas con números, ayuda a que la contraseña sea más segura.
                        - No uses tu PIN o reutilices las contraseñas de otros canales. - No utilices nombres de familiares o fechas de cumpleaños porque son fáciles de adivinar para los atacantes, especialmente si utilizas tu propio nombre o fecha de
                        cumpleaños. - No utilices palabras de diccionario porque los atacantes suelen usar los diccionarios de contraseñas de uso común. Evita contraseñas que contengan palabras reales, nombres o palabras en idiomas extranjeros. - No mal
                        deletrees palabras comunes, los atacantes están dispuestos a probar estas combinaciones, así, sobre todo las secuencias que sustituyen letras como la 'I' con un '1 'o' E 'con el '3'.</p>
                </div>
                <div class="box_about">
                    <h2>Seguridad Wireless</h2>
                    <p>En la actualidad podés acceder a Internet desde cualquier lugar y en el momento que quieras, ya que las redes Wireless están disponibles en todos lados, pero como ésta conexión se genera por ondas de radio y no por cables, hace que
                        tu computadora sea más vulnerable a los ataques. Por lo que te recomendamos: - Chequeá que la red Wireless esté protegida para detener a los atacantes. - Asegurate de tener un Firewall activado. - Elige una password SEGURA para
                        la red Wireless.</p>
                </div>
                <div class="box_about">
                    <h2>Seguridad en tu Celular</h2>
                    <p>Hoy tu celular facilita tus tareas ya que puedes tomar fotos, chequear los e-mails y navegar por Internet, entre otros, por lo que, al igual que tu computadora, el teléfono celular es vulnerable a recibir ataques. En este caso, te
                        recomendamos: - Investiga si tu proveedor de telefonía ofrece un software para proteger contra los virus y los riesgos en línea a tu celular para cuando navegues por Internet. - Mantén la conexión Bluetooth apagada a menos que
                        desee compartir información con otras personas y no aceptes las aplicaciones Bluetooth de fuentes desconocidas. - Evita abrir archivos adjuntos de MMS porque se pueden llevar a malware (virus que afectan a su teléfono).</p>
                </div>
                <div class="box_about">
                    <h2>Sitios vinculados:</h2>
                    <p>Este sitio puede brindar acceso a información suministrada por terceros o vínculos a otras direcciones de Internet, que no son mantenidos ni se encuentran bajo la responsabilidad de la plataforma. la plataforma no se responsabiliza
                        por el contenido de aquellos sitios. La inclusión de algún vínculo a los mencionados sitios no implica aprobación o aval de los mismos o del contenido disponible en los sitios. la plataforma, no controla ni garantiza, ni asume
                        responsabilidad alguna por la exactitud, la oportunidad o inclusive la disponibilidad continua de los mismos. La responsabilidad por el acceso a los sitios vinculados es exclusiva del Usuario.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->