<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Fecha : {{currentDate | date:'dd/MM/yyyy'}}</h4>
        </div>
    </div>
    <!-- ========== Comprador ============ -->
    <div class="row">
            <div class="col-sm-6">
                <h5 class="m-t-30">Comprador : </h5>
                <div class="ng-autocomplete">
                    <ng-autocomplete [data]="clientes" [searchKeyword]="keywordCliente" placeholder="Selecciona cliente" 
                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' 
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                </div>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.NombreCompleto"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
    </div>
    <br />
    <!-- ========== Fin Comprador ============ -->
    <!-- ==========  ============ -->
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Monto compra : </label>
            <input [(ngModel)]="monto" name="Monto" type="text" min="1" maxLength="15" step="1" placeholder="Monto..." class="form-control">
        </div>
    </div>
    <!-- ====================== -->
    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Observaciones : </label>
            <textarea [(ngModel)]="observaciones" name="observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
        </div>
    </div>
    <!-- ====================== -->
    <button type="submit" (click)="altaVentaDolar()" class="btn btn-info btn-lg btn-block text-uppercase" alt="default" data-toggle="modal" data-target="#responsive-modal">Confirmar venta</button>
    <br>
    <!-- ====================== -->
</div>