<div class="page-content">
    <h2>Usuarios</h2>

    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Usuario</th>
                            <th>Fecha creacion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{ usuario.Id }}</td>
                            <td>{{ usuario.Nombres }}</td>
                            <td>{{ usuario.Apellidos }}</td>
                            <td>{{ usuario.Usuario }}</td>
                            <td>{{ usuario.create_at }}</td>
                            <td>
                                <button type="button">boton 1</button>
                                <button type="button">boton 2</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->

    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->