<div class="container margin_60_35">
    <div class="main_title">
        <h2>Promociones</h2>
        <span>Productos</span>
        <p>Las mejores promociones</p>
    </div>
    <div class="row small-gutters">
        <div class="col-6 col-md-4 col-xl-3" *ngFor="let promocion of promocionesHome">
            <div class="grid_item" (click)="rutearDetallePromocion(promocion.IdPromocion)">
                <figure>
                    <span class="ribbon off">{{promocion.Descuento}}</span>
                    <a>
                        <img *ngIf="promocion.Imagen != null" [src]="promocion.Imagen" class="img-fluid lazy">
                        <img *ngIf="promocion.Imagen == null" [src]="imgTemp" class="img-fluid lazy">
                    </a>
                </figure>
                <a>
                    <h3>{{promocion.Promocion}}</h3>
                </a>
                <div class="price_box">
                    <span class="new_price">${{promocion.precioPromo}}</span>
                </div>
            </div>
            <!-- /grid_item -->
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->