<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-2">
                        <button data-toggle="modal" data-target="#responsive-modal" type="button" (click)="acreditar()" class="btn waves-effect waves-light btn-rounded btn-primary" style="border-top-width: 0px;border-top-style: solid;margin-top: 30px;">
                          <i class="fa fa-plus"></i> 
                          Acreditar
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad movimientos ( <small> {{ totalMovimientos }} </small> )</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Saldo : <small> {{ saldo }} </small> </h3>
                    </div>
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movimiento of movimientos">
                            <td>{{ movimiento.IdTransaccion }}</td>
                            <td>{{ movimiento.Fecha | date:"dd/MM/yyyy" }}</td>
                            <td>{{ movimiento.Tipo }}</td>
                            <td>{{ movimiento.MontoTotal }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->
    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-15) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(15) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->

<!-- =========== MODAL =========== -->
<div class="col-md-4" *ngIf="activarModal">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Acreditar - Cuenta corriente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Monto : </label>
                                <input type="text" [(ngModel)]="monto" name="monto" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #divCerrarModal type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light">Finalizar venta</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- <button class="btn btn-lg btn-outline-primary" alt="default" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive">Continuar</button> -->

</div>