<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>SubCategoria:  </label>
                        <input (keyup.enter)="buscarSubCategoriasPaginado( )" #input type="text" class="form-control" placeholder="Buscar SubCategoria..." id="subcategoriaBuscado">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarSubCategoriasPaginado( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-2">
                        <button [routerLink]="['/dashboard/productos/subcategorias/nueva']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary" style="border-top-width: 0px;border-top-style: solid;margin-top: 30px;">
                          <i class="fa fa-plus"></i> 
                          Nueva SubCategoria
                        </button>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad Subcategorias ( <small> {{ totalSubCategorias }} </small> )</h3>
                    </div>
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Fecha creacion</th>
                            <th>SubCategoria</th>
                            <th>Categoria</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subcategoria of subcategorias">
                            <td>{{ subcategoria.id_subcategoria }}</td>
                            <td>{{ subcategoria.fecha }}</td>
                            <td>{{ subcategoria.subcategoria }}</td>
                            <td>{{ subcategoria.categoria }}</td>
                            <td>
                                <button class="btn btn-inline" type="button" [routerLink]="['/dashboard/productos/subcategoria',subcategoria.id_subcategoria]">Editar</button>
                                <button class="btn btn-inline btn-danger" type="button" (click)="bajaSubCategoria(subcategoria.id_subcategoria)">Eliminar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </section>

        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-15) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(15) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->