<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Fecha : {{currentDate | date:'dd/MM/yyyy'}}</h4>
        </div>
    </div>
    <!-- ========== Fin Comprador ============ -->
    <!-- ==========  ============ -->
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Monto compra : </label>
            <input [(ngModel)]="monto" name="Monto" type="text" min="1" maxLength="15" step="1" placeholder="Monto..." class="form-control">
        </div>
    </div>
    <!-- ====================== -->
    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Observaciones : </label>
            <textarea [(ngModel)]="observaciones" name="observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
        </div>
    </div>
    <!-- ====================== -->
    <button type="submit" (click)="altaCompraDolar()" class="btn btn-info btn-lg btn-block text-uppercase" alt="default" data-toggle="modal" data-target="#responsive-modal">Confirmar compra</button>
    <br>
    <!-- ====================== -->
</div>