<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h4>Vendedor : {{datosVendedor.Apellidos}} {{datosVendedor.Nombres}}</h4>
        </div>
        <div class="col-md-5">
            <h4>Fecha : {{currentDate | date:'yyyy-MM-dd'}}</h4>
        </div>
    </div>
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaVenta()">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cliente</h4>
                <div class="row">
                    <div class="col-md-5">
                        <h5 class="m-t-30">Cliente : </h5>
                        <div class="ng-autocomplete">
                            <ng-autocomplete [data]="clientes" [searchKeyword]="keyword" placeholder="Selecciona cliente" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                        </div>
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.NombreCompleto"></a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================== -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Articulos</h4>
                <div class="row">
                    <div class="col-md-5">
                        <h5 class="m-t-30">Producto : </h5>
                        <div class="ng-autocomplete">
                            <div class="row">
                                <div class="col-md-7">
                                    <ng-autocomplete [data]="productos" [searchKeyword]="keywordProducto" placeholder="Selecciona producto" (selected)='selectEventProducto($event)' (inputChanged)='onChangeSearchProducto($event)' (inputFocused)='onFocusedProducto($event)' [itemTemplate]="itemTemplateProducto"
                                        [notFoundTemplate]="notFoundTemplateProducto">
                                    </ng-autocomplete>
                                </div>
                                <div class="col-md-5">
                                    <button type="button" class="btn btn-info btn-circle"><i class="fa fa-plus"></i> </button>
                                </div>
                            </div>
                        </div>
                        <ng-template #itemTemplateProducto let-item>
                            <a [innerHTML]="item.NombreCompleto"></a>
                        </ng-template>
                        <ng-template #notFoundTemplateProducto let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>
            <!-- ===== tabla con items de venta ===== -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Productos agregados</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Producto</th>
                                        <th>SubTotal</th>
                                        <th class="text-nowrap"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let linea of lineas_venta">
                                        <td>{{linea.Codigo }}</td>
                                        <td>{{linea.Producto }}</td>
                                        <td>{{linea.PrecioVenta }}</td>
                                        <td class="text-nowrap">
                                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Finalizar venta</button>
        <br>
    </form>
</div>