<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Producto:  </label>
                        <input (keyup.enter)="buscarProducto( )" #input type="text" class="form-control" placeholder="Buscar por codigo o producto..." id="buscarProducto">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarProducto( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sucursal : </label>
                        <select tabindex="4" [(ngModel)]="IdSucursal" name="IdSucursal" class="form-control">
                                <option *ngFor="let sucursal of sucursales" [value]="sucursal.IdSucursal">
                                    {{sucursal.Sucursal}}
                                </option>
                            </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad productos ( <small> {{totalProductos }} </small> )</h3>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-sm-4">
                        <button [routerLink]="['/dashboard/productos/nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                          <i class="fa fa-plus"></i> 
                            Nuevo Producto
                        </button>
                    </div>
                </div>
            </div>
            <div style="overflow:auto;">
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Sabores</th>
                            <th>Stock</th>
                            <th>PrecioVenta</th>
                            <th>PrecioMayorista</th>
                            <th>Descuento(%)</th>
                            <th>Publicado</th>
                            <th>Destacado</th>
                            <th>En promocion</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <td>{{ producto.IdProductoSabor }}</td>
                            <td>{{ producto.Codigo }}</td>
                            <td>{{ producto.Producto }}</td>
                            <td>{{ producto.Sabores }}</td>
                            <td>{{ producto.Stock }}</td>
                            <td>${{ producto.PrecioVenta }}</td>
                            <td>${{ producto.PrecioMayorista }}</td>
                            <td>{{ producto.Descuento }}</td>
                            <td>
                                <div class="col-sm-3">
                                    <div class="switch">
                                        <label>
                                        <input type="checkbox" [checked]="producto.Publicado" (click)="publicarProducto(producto.IdProducto)"><span class="lever switch-col-light-blue"></span></label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-3">
                                    <div class="switch">
                                        <label>
                                        <input type="checkbox" [checked]="producto.Destacado" (click)="destacarProducto(producto.IdProducto)"><span class="lever switch-col-cyan"></span></label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-3">
                                    <div class="switch">
                                        <label>
                                        <input type="checkbox" disabled [checked]="producto.Promocion" (click)="ofertaProducto(producto.IdProducto)"><span class="lever switch-col-deep-purple"></span></label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-primary" type="button">
                                    <i [routerLink]="['/dashboard/productos/imagenes',producto.IdProductoSabor]" class="fa fa-camera" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-inline" type="button" [routerLink]="['/dashboard/producto',producto.IdProducto]">Editar</button>
                                <button class="btn btn-inline btn-danger" type="button" (click)="bajaProducto(producto.IdProducto)">Eliminar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->