<div class="container">
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaProducto()">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Producto : </label>
                        <input tabindex="1" formControlName="Producto" name="Producto" required type="text" placeholder="Producto..." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Codigo : </label>
                            </div>
                            <div *ngIf="alertaCodigoVacio">
                                <p style="color:red;">Debe proveer un codigo</p>
                            </div>
                            <div class="col-sm-6" style="text-align:right;">
                                <input type="checkbox" id="md_checkbox_9" class="chk-col-teal" (click)="generarCodigo()" />
                                <label for="md_checkbox_9">Generar Codigo</label>
                            </div>
                        </div>
                        <input tabindex="2" [(ngModel)]="codigo" formControlName="Codigo" name="Codigo" required type="text" placeholder="Codigo" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Medida : </label>
                                <input tabindex="3" min="0" formControlName="Medida" name="Medida" required type="number" placeholder="Medida" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Unidad : </label>
                                <select tabindex="4" formControlName="IdUnidad" name="IdUnidad" class="form-control">
                                    <option *ngFor="let unidad of unidades" [value]="unidad.IdUnidad">
                                        {{unidad.NombreCorto}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Sabor : </label>
                        <select tabindex="4" formControlName="IdSabor" name="IdSabor" class="form-control">
                            <option *ngFor="let sabor of sabores" [value]="sabor.IdSabor">
                                {{sabor.sabor}}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Stock (Sucursal - {{sucursalPrincipal}}): </label><input tabindex="5" formControlName="Stock" name="Stock" min="1" required type="number" placeholder="Stock..." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Stock alerta : </label>
                        <input tabindex="6" formControlName="StockAlerta" name="StockAlerta" required type="number" placeholder="Stock alerta..." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Categoria : </label>
                        <select (change)="onChangeCategorias($event.target.value)" tabindex="4" formControlName="IdCategoria" name="IdCategoria" class="form-control">
                                <option *ngFor="let categoria of categorias" [value]="categoria.IdCategoria">
                                    {{categoria.Categoria}}
                                </option>
                            </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>SubCategoria : </label>
                        <select [attr.disabled]="deshabilitarSubcategorias ? '' : null" tabindex="4" formControlName="IdSubCategoria" name="IdSubCategoria" class="form-control">
                                <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.IdSubcategoria">
                                    {{subcategoria.Subcategoria}}
                                </option>
                            </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Marca : </label>
                        <select tabindex="4" formControlName="IdMarca" name="IdMarca" class="form-control">
                                <option *ngFor="let marca of marcas" [value]="marca.IdMarca">
                                    {{marca.Marca}}
                                </option>
                            </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Fecha vencimiento : </label><input tabindex="7" formControlName="FechaVencimiento" name="FechaVencimiento" type="date" placeholder="Fecha vencimiento..." class="form-control">
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Precio Compra : </label><input min="1" tabindex="8" formControlName="PrecioCompra" name="PrecioCompra" type="number" placeholder="Precio Compra..." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Precio Venta : </label><input min="1" tabindex="9" formControlName="PrecioVenta" name="PrecioVenta" type="number" placeholder="Precio de Venta" class="form-control">
                        <div *ngIf="alertaPrecioVentaCompra">
                            <p style="color:red;">El precio de venta debe ser mayor que el precio de compra</p>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Precio Mayorista : </label><input min="1" tabindex="10" formControlName="PrecioMayorista" name="PrecioMayorista" type="number" placeholder="Precio Mayorista..." class="form-control">
                        <div *ngIf="alertaPrecioVentaMayorista">
                            <p style="color:red;">El precio de venta debe ser mayor que el precio de compra</p>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Precio Meli : </label><input min="1" tabindex="11" formControlName="PrecioMeli" name="PrecioMeli" type="number" placeholder="Precio Meli..." class="form-control">
                        <div *ngIf="alertaPrecioVentaMeli">
                            <p style="color:red;">El precio de venta debe ser mayor que el precio de compra</p>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Descuento % : </label><input min="0" max="99" tabindex="12" formControlName="Descuento" name="Descuento" required type="number" placeholder="Descuento..." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Moneda : </label>
                        <select required tabindex="13" formControlName="Moneda" class="form-control">
                            <option selected value="ARS"> ARS </option>
                            <option value="USD"> USD </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label>Descripcion : </label>
                <textarea tabindex="14" formControlName="Descripcion" name="Descripcion" type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Producto</button>
        <br>
    </form>
</div>