<div class="container">
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaUnidad()">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Unidad : </label>
                        <input formControlName="Unidad" name="Unidad" required type="text" placeholder="Unidad..." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Nombre Corto : </label><input formControlName="NombreCorto" name="NombreCorto" required type="text" placeholder="NombreCorto..." class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Unidad</button>
        <br>
    </form>
</div>