<div class="container">
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaUsuario()">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Apellidos : </label>
                        <input formControlName="Apellidos" name="Apellidos" required type="text" placeholder="Apellidos" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Nombres : </label><input formControlName="Nombres" name="Nombres" required type="text" placeholder="Nombres" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Telefono : </label><input formControlName="Telefono" name="Telefono" required type="number" min="1" max="31" step="1" placeholder="Telefono" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>DNI : </label>
                        <input formControlName="DNI" name="DNI" type="text" placeholder="DNI..." rows="3" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Contraseña : </label><input formControlName="Password" name="Password" required type="number" min="1" max="31" step="1" placeholder="Password" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Repetir contraseña : </label>
                        <input formControlName="Password2" name="Password2" type="text" placeholder="Repetir contraseña..." rows="3" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label tabindex="6" for="start">Fecha de Nacimiento : </label>
                        <input type="date" name="FechaNac" formControlName="FechaNac" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Observaciones : </label>
                        <textarea formControlName="Observaciones" name="Observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- =============== Permisos ================= -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Permisos</h2>
                <!-- =============== Permisos Productos ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Productos</h4>
                        <input [checked]="banderaCheckProductos" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosProductos()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" [checked]="chequearPermiso(1)" type="checkbox" value="">
                        <label class="form-check-label" (click)="agregarPermiso(1,listarProductos)">
                  Listar productos
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="altaProductos" value="">
                        <label class="form-check-label">
                  Alta de productos
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="importarProductos">
                        <label class="form-check-label">
                  Importar productos
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="editarProductos" value="">
                        <label class="form-check-label">
                  Editar productos
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="borrarProductos" value="">
                        <label class="form-check-label">
                  Borrar productos
                </label>
                    </div>
                </div>
                <!-- =============== Permisos Clientes ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Clientes</h4>
                        <input [checked]="banderaCheckClientes" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosClientes()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="listarClientes" value="">
                        <label class="form-check-label">
                  Listar clientes
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="altaClientes" value="">
                        <label class="form-check-label">
                  Alta de clientes
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarClientes">
                        <label class="form-check-label">
                  Editar clientes
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="borrarClientes" value="">
                        <label class="form-check-label">
                  Borrar clientes
                </label>
                    </div>
                </div>
                <!-- =============== Proveedores ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Proveedores</h4>
                        <input [checked]="banderaCheckProveedores" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosProveedores()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="listarProveedores" value="">
                        <label class="form-check-label">
                  Listar Proveedores
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="altaProveedores">
                        <label class="form-check-label">
                  Alta de Proveedores
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" [checked]="editarProveedores" value="">
                        <label class="form-check-label">
                  Editar Proveedores
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="borrarProveedores">
                        <label class="form-check-label">
                  Borrar Proveedores
                </label>
                    </div>
                </div>
                <!-- =============== Sucursales ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Sucursales</h4>
                        <input [checked]="banderaCheckSucursales" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosSucursales()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="listarSucursales">
                        <label class="form-check-label">
                  Listar Sucursales
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="altaSucursales">
                        <label class="form-check-label">
                  Alta de Sucursales
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarSucursales">
                        <label class="form-check-label">
                  Editar Sucursales
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="borrarSucursales">
                        <label class="form-check-label">
                  Borrar Sucursales
                </label>
                    </div>
                </div>
                <!-- =============== Empleados ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Empleados</h4>
                        <input [checked]="banderaCheckEmpleados" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosEmpleados()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="listarEmpleados">
                        <label class="form-check-label">
                  Listar Empleados
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="altaEmpleados">
                        <label class="form-check-label">
                  Alta de Empleados
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarEmpleados">
                        <label class="form-check-label">
                  Editar Empleados
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="borrarEmpleados">
                        <label class="form-check-label">
                  Borrar Empleados
                </label>
                    </div>
                </div>
                <!-- =============== Configuraciones ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Configuraciones</h4>
                        <input [checked]="banderaCheckConfiguraciones" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosConfiguraciones()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="listarConfiguraciones">
                        <label class="form-check-label">
                  Listar Configuraciones
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarConfiguraciones">
                        <label class="form-check-label">
                  Editar Configuraciones
                </label>
                    </div>
                </div>
                <!-- =============== Pedidos ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Pedidos</h4>
                        <input [checked]="banderaCheckPedidos" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosPedidos()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="listarPedidos">
                        <label class="form-check-label">
                  Listar Pedidos
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="altaPedidos">
                        <label class="form-check-label">
                  Alta de Pedidos
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarPedidos">
                        <label class="form-check-label">
                  Editar Pedidos
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="borrarPedidos">
                        <label class="form-check-label">
                  Borrar Pedidos
                </label>
                    </div>
                </div>
                <!-- =============== Categorias ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Categorias</h4>
                        <input [checked]="banderaCheckCategorias" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosCategorias()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="listarCategorias">
                        <label class="form-check-label">
                  Listar Categorias
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="altaCategorias">
                        <label class="form-check-label">
                  Alta de Categorias
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarCategorias">
                        <label class="form-check-label">
                  Editar Categorias
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="borrarCategorias">
                        <label class="form-check-label">
                  Borrar Categorias
                </label>
                    </div>
                </div>
                <!-- =============== Permisos Promociones ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Promociones</h4>
                        <input [checked]="banderaCheckPromociones" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosPromociones()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="listarPromociones">
                        <label class="form-check-label">
                  Listar Promociones
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="altaPromociones">
                        <label class="form-check-label">
                  Alta de Promociones
                </label>
                    </div>

                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarPromociones">
                        <label class="form-check-label">
                  Editar Promociones
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="borrarPromociones">
                        <label class="form-check-label">
                  Borrar Promociones
                </label>
                    </div>
                </div>
                <!-- =============== Ventas ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Ventas</h4>
                        <input [checked]="banderaCheckVentas" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosVentas()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="listarVentas">
                        <label class="form-check-label">
                  Listar Ventas
                </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="altaVentas">
                        <label class="form-check-label">
                  Alta de Ventas
                </label>
                    </div>

                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="editarVentas">
                        <label class="form-check-label">
                  Editar Ventas
                </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" [checked]="borrarVentas">
                        <label class="form-check-label">
                  Borrar Ventas
                </label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Usuario</button>
        <br>
    </form>
</div>