<br /><br />
<div class="justify-content-center">
    <main class="bg_gray">
        <div class="container margin_30">
            <div class="page_header">
                <div class="row">
                    <div class="col">
                        <h1 class="col">Mis direcciones</h1>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <button [routerLink]="['/perfil/direcciones/nueva', IdPersona ]" class="btn_1">Agregar Direccion</button>
                    </div>
                </div>
            </div>
            <!-- /page_header -->
            <table class="table table-striped cart-list">
                <thead>
                    <tr>
                        <th>
                            Direccion
                        </th>
                        <th>
                            Provincia-Localidad
                        </th>
                        <th>
                            Codigo postal
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Seleccionada
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let direccion of datosDirecionesCliente">
                        <td>
                            <span>{{direccion.Calle}} {{direccion.Numero}}</span>
                        </td>
                        <td>
                            <span>{{direccion.Provincia}} - </span>
                            <span>{{direccion.Localidad}}</span>
                        </td>
                        <td>
                            <div>
                                <span>{{direccion.CP}}</span>
                            </div>
                        </td>
                        <td>
                            <span>{{direccion.Telefono}}</span>
                        </td>
                        <td class="options">
                            <input type="radio" name="" value="">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- /container -->

    </main>
    <!--/main-->
</div>