<br /><br />
<div class="justify-content-center">
    <main class="bg_gray">
        <div class="container margin_30">
            <div class="page_header">
                <div class="row">
                    <div class="col">
                        <h1 class="col">Mis direcciones</h1>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <button [routerLink]="['/perfil/direcciones/nueva', IdPersona ]" class="btn_1">Agregar Direccion</button>
                    </div>
                </div>
            </div>
            <!-- /page_header -->
            <table class="table table-striped cart-list">
                <thead>
                    <tr>
                        <th>
                            Direccion
                        </th>
                        <th>
                            Provincia-Localidad
                        </th>
                        <th>
                            Codigo postal
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Seleccionada
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let direccion of datosDirecionesCliente">
                        <td>
                            <span class="item_cart">{{direccion.Direccion}}</span>
                        </td>
                        <td>
                            <strong>{{direccion.Provincia}}</strong>
                            <strong>{{direccion.Localidad}}</strong>
                        </td>
                        <td>
                            <div class="numbers-row">
                                <strong>{{direccion.CP}}</strong>
                            </div>
                        </td>
                        <td>
                            <strong>{{direccion.Telefono}}</strong>
                        </td>
                        <td class="options">
                            <a href="#"><i class="ti-marker-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- /container -->

    </main>
    <!--/main-->
</div>