<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Inversores 
                        <i class="material-icons"> group </i>
                    </h4>
                    <p class="card-text">Inversores de la empresa.</p>
                    <a [routerLink]="['/dashboard/inversiones/inversores']" class="btn btn-info">Acceder</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Compra/Venta Dolares
                        <i class="material-icons"> money </i>
                    </h4>
                    <p class="card-text">Historico de compra y venta de dolares</p>
                    <a [routerLink]="['/dashboard/inversiones/dolares']" class="btn btn-info">Acceder</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
