<main class="bg_gray">

    <div class="container margin_60">
        <div class="main_title">
            <h2>Su cuenta</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <a [routerLink]="['/perfil/cuenta' , IdPersona]">
                    <div class="box_contacts">
                        <i class="ti-info"></i>
                        <h2>Mi informacion</h2>
                        <a>Tus datos</a>
                    </div>
                </a>

            </div>
            <div class="col-lg-4">
                <a [routerLink]="['/perfil/direcciones' , IdPersona]">

                    <div class="box_contacts">
                        <i class="ti-map-alt"></i>
                        <h2>Mis direcciones</h2>
                        <div>Listado de tus direcciones cargadas</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a [routerLink]="['/mis-compras']">
                    <div class="box_contacts">
                        <i class="ti-package"></i>
                        <h2>Mis compras</h2>
                        <a href="#0">Historico de compras</a>
                    </div>
                </a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->