<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad compras ( <small> {{ totalCompras }} </small> )</h3>
                    </div>
                    <div class="col-4">
                    </div>

                </div>
                <div>
                    <label for="start">Fecha : &nbsp;</label>

                    <input type="date" [(ngModel)]="fecha" (ngModelChange)="cambiosFecha($event)" required> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button [disabled]="controlFechas" (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary "><span class="material-icons">
                        refresh
                        </span></button>

                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Proveedor</th>
                            <th>MontoTotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let compra of compras">
                            <td>{{ compra.IdTransaccion }}</td>
                            <!-- <td>{{ compra.Fecha | date:"dd/MM/yyyy" }}</td> -->
                            <td>{{ compra.Proveedor }}</td>
                            <td>{{ compra.MontoTotal }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->

<!--================= PDF =========================-->
<!-- 
<div #content class="content">
    <hello name="test"></hello>
    <p>
        Start editing to see some magic happen :)
    </p>
</div> -->