<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Cliente :  </label>
                        <input (keyup.enter)="buscarClientes( )" #inputClienteBuscado type="text" class="form-control" placeholder="Buscar cliente..." id="clienteBuscado">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarClientes( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-1 form-group" style="margin-top: 25px;">
                        <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary "><span class="material-icons">
                            refresh
                            </span></button>
                    </div>       
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad clientes ( <small> {{ totalClientes }} </small> )</h3>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <button [routerLink]="['/dashboard/clientes/nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                          <i class="fa fa-plus"></i> 
                          Nuevo Cliente
                        </button>
                    </div>     
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Apellidos</th>
                            <th>Nombres</th>
                            <th>DNI</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td>{{ cliente.id_persona }}</td>
                            <td>{{ cliente.apellidos }}</td>
                            <td>{{ cliente.nombres }}</td>
                            <td>{{ cliente.dni }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>
                                <button class="btn btn-inline" type="button" [routerLink]="['/dashboard/clientes/editar',cliente.id_persona]">Editar</button>
                                <button class="btn btn-inline btn-danger" type="button" (click)="bajaCliente(cliente.id_persona)">Eliminar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </section>

        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-12) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(12) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->