<br /><br />
<div class="">
    <main class="bg_gray">
        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Compra</a></li>
                    </ul>
                </div>
                <h1>Compra de producto</h1>
            </div>
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="confirmarCompra()" id="forma">
                <div>
                    Seleccionar tipo envio :
                    <select class="wide add_bottom_10" (change)="onChangeTipoEnvio($event.target)">
                        <option select>Seleccionar Direccion*</option>
                        <option value="0">Retiro en sucursal</option>
                        <option *ngFor="let direccion of direccionesCliente" 
                            [value]="direccion.IdDireccion" >
                            <!-- [attr.selected]="passenger.Title==title.Text ? true : null"> -->
                            {{direccion.direccion}}
                        </option>
                    </select>
                </div>
                <div *ngIf="banderaSeleccionarEnvio">
                    <p style="color:red;">Seleccione el tipo de envio</p>
                </div>
                <br /><br />
                <!-- /page_header -->
                <table class="table table-striped cart-list">
                    <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Sabor
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Subtotal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="item_cart">{{producto}}</span>
                            </td>
                            <td>
                                <strong>{{sabor}}</strong>
                            </td>
                            <td>
                                <strong>$ {{precioVenta}}</strong>
                            </td>
                            <td>
                                <strong>{{cantidadMostrar}}</strong>
                            </td>
                            <td>
                                <strong>$ {{precioVenta}}</strong>
                            </td>
                        </tr>
                        <tr *ngIf="habilitarCostoEnvio">
                            <td>
                                <span class="item_cart">Costo de envio</span>
                            </td>
                            <td>
                                <strong>$ {{costoEnvio}}</strong>
                            </td>
                            <td>
                                <strong>-</strong>
                            </td>
                            <td>
                                <strong>$ {{costoEnvio}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2>Total : ${{Total}}</h2>
                <!-- /cart_actions -->
            </form>
        </div>
        <!-- /container -->

        <div class="box_cart">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <ul>
                            <li>
                                <span>Subtotal : </span>${{SubTotal}}
                            </li>
                            <li *ngIf="habilitarCostoEnvio">
                                <span>Envio : </span> ${{costoEnvio}}
                            </li>
                            <li>
                                <span>Total : </span> ${{+Total}}
                            </li>
                        </ul>
                        <a *ngIf="!cargando" (click)="confirmarCompra()" class="btn_1 full-width cart">Proceder a la compra</a>
                        <div *ngIf="cargando" class="loader">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /box_cart -->
        <br /><br />
    </main>
    <!--/main-->
</div>