<h3>Inversor : {{Apellidos}}, {{Nombres}}</h3>
<br>
<div class="container">
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaInversion()">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Monto a invertir : </label>
                <input formControlName="monto" name="monto" type="text" min="1" maxLength="10" step="1" placeholder="Monto a invertir..." class="form-control">
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Observaciones : </label>
                <textarea formControlName="observaciones" name="observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar inversion</button>
        <br>
    </form>
</div>