<footer class="revealed">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_1">Institucional</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_1">
                    <ul>
                        <li><a [routerLink]="['/contacto']">Contacto</a></li>
                        <li><a [routerLink]="['/franquicia']">Franquicia</a></li>
                        <li><a [routerLink]="['/terminos-y-condiciones']">Términos y condiciones</a></li>
                        <li><a [routerLink]="['/politicas-de-seguridad']">Póliticas de privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_2">Categorias destacadas</h3>
                <div class="collapse dont-collapse-sm links">
                    <ul *ngFor="let categoria of categoriasDestacadas">
                        <li><a [routerLink]="['categorias', categoria.Categoria]">{{ categoria.Categoria}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_3">Datos de contacto</h3>
                <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                    <ul>
                        <li><i class="ti-home"></i>{{direccion}}</li>
                        <li><i class="ti-headphone-alt"></i>{{telefono}}</li>
                        <li><i class="ti-email"></i><a href="#0">{{email}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_4">Mantenerse en contacto</h3>
                <div class="collapse dont-collapse-sm" id="collapse_4">
                    <div id="newsletter">
                        <div class="form-group">
                            <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Tu email">
                            <button type="submit" id="submit-newsletter"><i class="ti-angle-double-right"></i></button>
                        </div>
                    </div>
                    <div class="follow_us">
                        <h5>Seguinos en redes</h5>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <img (click)="goTwitter()" src="../../../assets/img/twitter_icon.svg" data-src="../../../assets/img/twitter_icon.svg" alt="" class="lazy loaded">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img (click)="goFacebook()" src="../../../assets/img/facebook_icon.svg" data-src="../../../assets/img/facebook_icon.svg" alt="" class="lazy loaded">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img (click)="goInstagram()" src="../../../assets/img/instagram_icon.svg" data-src="../../../assets/img/instagram_icon.svg" alt="" class="lazy loaded">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img (click)="goYouTube()" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="../../../assets/img/youtube_icon.svg" alt="" class="lazy">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row-->
        <hr>
        <div class="row add_bottom_25">
            <div class="col-lg-6">
                <ul class="footer-selector clearfix">
                    <li>
                        <div class="styled-select lang-selector">
                            <select>
                <option value="Spanish">Spanish</option>
              </select>
                        </div>
                    </li>
                    <li><img src="../../../assets/img/cards_all.svg" data-src="../../../assets/img/cards_all.svg" alt="" width="198" height="30" class="lazy"></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="additional_links">
                    <!-- <P> -->
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Desarrollado por <a href="https://juanchehin.github.io/chehin-ingenieria/" target="_blank">Ing. Juan Chehin</a>
                    <!-- </P> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->