<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Marca:  </label>
                        <input (keyup.enter)="buscarMarcaPaginado( )" #input type="text" class="form-control" placeholder="Buscar marca..." id="marcaBuscada">
                    </div>
                    <div class="col-sm-2 form-group">
                        <button (click)="buscarMarcaPaginado( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="card-title">Cantidad marcas ( <small> {{ totalMarcas }} </small> )</h3>
                    </div>
                    <div class="col-sm-2">
                        <button [routerLink]="['/dashboard/productos/marcas/nueva']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                          <i class="fa fa-plus"></i>
                          Nueva Marca
                        </button>
                    </div>
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Marca</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let marca of marcas">
                            <td>{{ marca.id_marca }}</td>
                            <td>{{ marca.marca }}</td>
                            <td>
                                <button class="btn btn-inline" type="button" [routerLink]="['/dashboard/productos/marca',marca.id_marca]">Editar</button>
                                <button class="btn btn-inline btn-danger" type="button" (click)="bajaMarca(marca.id_marca)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="cambiarDesde(-15) " type="button" class="btn btn-default-outline">Anteriores</button>
            <button (click)="cambiarDesde(15) " type="button" class="btn btn-default-outline">Siguientes</button>
        </div>
        <!--.box-typical-->
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->