<div class="">
    <h3 class="">Cliente : {{ apellidos }},{{ nombres }}</h3>
</div>
<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="d-flex flex-row">
                <div class="p-10 bg-info">
                    <h3 class="text-white box m-b-0"><i class="ti-wallet"></i></h3></div>
                <div class="align-self-center m-l-20">
                    <h3 class="m-b-0 text-info">$ {{ saldo }}</h3>
                    <h5 class="text-muted m-b-0">Saldo</h5></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="d-flex flex-row">
                <div class="p-10 bg-success">
                    <h3 class="text-white box m-b-0"><i class="ti-wallet"></i></h3></div>
                <div class="align-self-center m-l-20">
                    <h3 class="m-b-0 text-info">{{ totalMovimientos }}</h3>
                    <h5 class="text-muted m-b-0">Movimientos</h5></div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-4">
        <button data-toggle="modal" data-target="#responsive-modal" type="button" (click)="acreditar()" class="btn waves-effect waves-light btn-rounded btn-primary" style="border-top-width: 0px;border-top-style: solid;margin-top: 30px;">
            <i class="fa fa-plus"></i> 
            Acreditar
          </button>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <!-- ============================= -->
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Estado</th>
                            <th>Monto</th>
                            <th>Fecha vencimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let movimiento of movimientos" [ngClass]="(movimiento.Estado == 'Vencida') ? 'table-danger' : ''">
                            <td>{{ movimiento.IdTransaccion }}</td>
                                <td>{{ movimiento.Estado }}</td>
                                <td>$ {{ movimiento.Monto }}</td>
                                <td>{{ movimiento.FechaVencimiento | date:"dd/MM/yyyy" }}</td>
                        </tr>

                    </tbody>
                </table>
                <!-- ============================= -->

            </div>
        </section>
        <!--.box-typical-->
    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-15) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(15)" type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->

<!-- =========== MODAL =========== -->
<div class="col-md-4" *ngIf="activarModal">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Acreditar - Cuenta corriente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Monto : </label>
                                <input type="text" [(ngModel)]="monto" name="monto" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Descripcion : </label>
                            <textarea [(ngModel)]="descripcion" name="Descripcion" type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #divCerrarModal type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" (click)="guardarAcreditacion()" class="btn btn-danger waves-effect waves-light">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- <button class="btn btn-lg btn-outline-primary" alt="default" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive">Continuar</button> -->

</div>