<main class="bg_gray">
    <div class="container margin_60_35 add_bottom_30">
        <div class="main_title">
            <h2>Franquicia</h2>
        </div>
        <img src="../../../../assets/img/slider_3.jpg" alt="" width="1000" height="500">
        <br><br>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="box_about">
                    <h2>Franquicia Lebron</h2>
                    <p>LeBron Suplementos es una empresa líder en el NOA, se distingue de la competencia por la calidad e innovación de los productos y servicios dentro del rubro deportivo y fitness. LeBron Suplementos conforma un excelente lugar de trabajo,
                        donde se tiene en cuenta el bienestar y la permanente capacitación del personal para maximizar la atención a su público. </p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->