<div class="container">
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaUsuario()">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Apellidos : </label>
                        <input formControlName="apellidos" name="apellidos" required type="text" placeholder="Apellidos" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Nombres : </label><input formControlName="nombres" name="nombres" required type="text" placeholder="Nombres" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Telefono : </label>
                        <input formControlName="telefono" name="telefono" type="text" min="15" max="15" minlength="8" maxlength="15" placeholder="Telefono" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>DNI : </label>
                        <input formControlName="dni" name="dni" type="text" placeholder="DNI..." min="8" max="8" maxlength="8" minlength="6" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Correo : </label>
                        <input formControlName="correo" name="correo" type="text" placeholder="Correo" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Usuario : </label>
                        <input formControlName="usuario" required name="usuario" type="text" placeholder="Usuario..." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Contraseña : </label><input formControlName="password" name="password" required type="password" min="1" max="31" step="1" placeholder="Password" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Repetir contraseña : </label>
                        <input formControlName="password2" name="password2" type="password" required placeholder="Repetir contraseña..." rows="3" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label tabindex="6" for="start">Fecha de Nacimiento : </label>
                        <input type="date" name="fecha_nac" formControlName="fecha_nac">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Sucursal : </label>
                        <select class="form-control" formControlName="id_sucursal">
                            <option *ngFor="let sucursal of sucursales" [value]="sucursal.id_sucursal" >
                                {{sucursal.sucursal}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Observaciones : </label>
                        <textarea formControlName="observaciones" name="observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- =============== Permisos ================= -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Permisos</h2>
                <!-- =============== Permisos Productos ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Productos</h4>
                        <input [checked]="banderaCheckProductos" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosProductos()">Todos</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarProductos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(1)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar productos</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaProductos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(2)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta de productos</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="importarProductos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(62)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Importar productos</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarProductos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(3)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar productos</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarProductos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(4)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar productos</span>
                        </label>
                    </div>
                </div>
                <!-- =============== Permisos Clientes ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Clientes</h4>
                        <input [checked]="banderaCheckClientes" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosClientes()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarClientes" type="checkbox" class="custom-control-input" (click)="agregarPermiso(5)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar clientes</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaClientes" type="checkbox" class="custom-control-input" (click)="agregarPermiso(6)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta de clientes</span>
                        </label>
                    </div>

                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarClientes" type="checkbox" class="custom-control-input" (click)="agregarPermiso(7)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar clientes</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarClientes" type="checkbox" class="custom-control-input" (click)="agregarPermiso(8)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar clientes</span>
                        </label>
                    </div>
                </div>
                <!-- =============== Proveedores ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Proveedores</h4>
                        <input [checked]="banderaCheckProveedores" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosProveedores()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarProveedores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(9)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar proveedores</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaProveedores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(10)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta Proveedores</span>
                        </label>
                    </div>

                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarProveedores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(11)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar proveedores</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarProveedores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(12)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar proveedores</span>
                        </label>
                    </div>
                </div>
                <!-- =============== Sucursales ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Sucursales</h4>
                        <input [checked]="banderaCheckSucursales" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosSucursales()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="listarSucursales" type="checkbox" class="custom-control-input" (click)="agregarPermiso(13)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Listar Sucursal</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="altaSucursales" type="checkbox" class="custom-control-input" (click)="agregarPermiso(14)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Alta Sucursal</span>
                            </label>
                    </div>

                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="editarSucursales" type="checkbox" class="custom-control-input" (click)="agregarPermiso(15)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Editar Sucursal</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="borrarSucursales" type="checkbox" class="custom-control-input" (click)="agregarPermiso(16)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Borrar Sucursal</span>
                            </label>
                    </div>
                </div>
                <!-- =============== Empleados ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Empleados</h4>
                        <input [checked]="banderaCheckEmpleados" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosEmpleados()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="listarEmpleados" type="checkbox" class="custom-control-input" (click)="agregarPermiso(17)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Listar Empleados</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="altaEmpleados" type="checkbox" class="custom-control-input" (click)="agregarPermiso(18)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Alta Empleados</span>
                            </label>
                    </div>

                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="editarEmpleados" type="checkbox" class="custom-control-input" (click)="agregarPermiso(19)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Editar Empleados</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="borrarEmpleados" type="checkbox" class="custom-control-input" (click)="agregarPermiso(20)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Borrar Empleados</span>
                            </label>
                    </div>
                </div>
                <!-- =============== Configuraciones ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Configuraciones</h4>
                        <input [checked]="banderaCheckConfiguraciones" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosConfiguraciones()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="listarConfiguraciones" type="checkbox" class="custom-control-input" (click)="agregarPermiso(21)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Listar Configuraciones</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="editarConfiguraciones" type="checkbox" class="custom-control-input" (click)="agregarPermiso(23)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Editar Configuraciones</span>
                            </label>
                    </div>
                </div>
                <!-- =============== Pedidos ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Pedidos</h4>
                        <input [checked]="banderaCheckPedidos" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosPedidos()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="listarPedidos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(29)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Listar Pedidos</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="altaPedidos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(30)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Alta Pedidos</span>
                            </label>
                    </div>

                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="editarPedidos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(31)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Editar Pedidos</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="borrarPedidos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(32)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Borrar Pedidos</span>
                            </label>
                    </div>
                </div>
                <!-- =============== Categorias ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Categorias</h4>
                        <input [checked]="banderaCheckCategorias" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosCategorias()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="listarCategorias" type="checkbox" class="custom-control-input" (click)="agregarPermiso(33)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Listar Categorias</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="altaCategorias" type="checkbox" class="custom-control-input" (click)="agregarPermiso(34)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Alta Categorias</span>
                            </label>
                    </div>

                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="editarCategorias" type="checkbox" class="custom-control-input" (click)="agregarPermiso(35)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Editar Categorias</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="borrarCategorias" type="checkbox" class="custom-control-input" (click)="agregarPermiso(36)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Borrar Categorias</span>
                            </label>
                    </div>
                </div>
                <!-- =============== Permisos Promociones ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Promociones</h4>
                        <input [checked]="banderaCheckPromociones" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosPromociones()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="listarPromociones" type="checkbox" class="custom-control-input" (click)="agregarPermiso(57)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Listar Promociones</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="altaPromociones" type="checkbox" class="custom-control-input" (click)="agregarPermiso(58)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Alta Promociones</span>
                            </label>
                    </div>

                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="editarPromociones" type="checkbox" class="custom-control-input" (click)="agregarPermiso(59)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Editar Promociones</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="borrarPromociones" type="checkbox" class="custom-control-input" (click)="agregarPermiso(60)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Borrar Promociones</span>
                            </label>
                    </div>
                </div>
                <!-- =============== Ventas ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Ventas</h4>
                        <input [checked]="banderaCheckVentas" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosVentas()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="listarVentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(45)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Listar Ventas</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="altaVentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(46)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Alta Ventas</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="editarVentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(47)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Editar Ventas</span>
                            </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                                <input [checked]="borrarVentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(48)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Borrar Ventas</span>
                            </label>
                    </div>
                </div>
                  <!-- =============== Inversores ================= -->
                  <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Inversores</h4>
                        <input [checked]="banderaCheckInversores" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosInversores()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarInversores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(67)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar inversores</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaInversores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(68)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta de inversores</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarInversores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(69)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar Inversores</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarInversores" type="checkbox" class="custom-control-input" (click)="agregarPermiso(70)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar Inversores</span>
                        </label>
                    </div>
                </div>
                <!-- =============== Cuentas ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Cuentas</h4>
                        <input [checked]="banderaCheckCuentas" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosCuentas()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarCuentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(63)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar Cuentas</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaCuentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(64)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta de Cuentas</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarCuentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(65)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar Cuentas</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarCuentas" type="checkbox" class="custom-control-input" (click)="agregarPermiso(66)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar Cuentas</span>
                        </label>
                    </div>
                </div>
                <!-- =============== Dolares ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Dolares</h4>
                        <input [checked]="banderaCheckDolares" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosDolares()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarDolares" type="checkbox" class="custom-control-input" (click)="agregarPermiso(71)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar dolares</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaDolares" type="checkbox" class="custom-control-input" (click)="agregarPermiso(72)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta de dolares</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarDolares" type="checkbox" class="custom-control-input" (click)="agregarPermiso(73)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar dolares</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarDolares" type="checkbox" class="custom-control-input" (click)="agregarPermiso(74)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar dolares</span>
                        </label>
                    </div>
                </div>
                 <!-- =============== Quimicos ================= -->
                 <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Quimicos</h4>
                        <input [checked]="banderaCheckQuimicos" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosQuimicos()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarQuimicos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(75)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar Quimicos</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaQuimicos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(76)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta de Quimicos</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarQuimicos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(77)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar Quimicos</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarQuimicos" type="checkbox" class="custom-control-input" (click)="agregarPermiso(78)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar Quimicos</span>
                        </label>
                    </div>
                </div>
                <!-- =============== Backups ================= -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Backups</h4>
                        <input [checked]="banderaCheckBackups" type="checkbox" class="chk-col-teal" />
                        <label (click)="checkTodosBackups()">Todos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="listarBackups" type="checkbox" class="custom-control-input" (click)="agregarPermiso(79)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Listar Backups</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="altaBackups" type="checkbox" class="custom-control-input" (click)="agregarPermiso(80)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Alta de Backups</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="editarBackups" type="checkbox" class="custom-control-input" (click)="agregarPermiso(81)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Editar Backups</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="custom-control custom-checkbox">
                            <input [checked]="borrarBackups" type="checkbox" class="custom-control-input" (click)="agregarPermiso(82)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Borrar Backups</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <br>
            <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Usuario</button>
        <br>
    </form>
</div>