<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="start">Fecha : &nbsp;</label>
                        <input class="form-control" type="date" [(ngModel)]="fecha" required> &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-sm-4">
                        <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary " style="top: 25px;">
                            <span class="material-icons">
                                refresh
                            </span>
                        </button>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="card-title">Cantidad Transferencias ( <small> {{ totalTransferencias }} </small> )</h3>
                    </div>
                    <div class="col-sm-2">
                        <button [routerLink]="['/dashboard/transferencias/nueva']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i> 
                        </button>
                    </div>
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Fecha Alta</th>
                            <th>Suc. Origen</th>
                            <th>Suc. Destino</th>
                            <th>Monto Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transferencia of transferencias">
                            <td>{{ transferencia.id_transaccion }}</td>
                            <td>{{ transferencia.fecha }}</td>
                            <td>{{ transferencia.suc_origen }}</td>
                            <td>{{ transferencia.suc_destino }}</td>
                            <td>$ {{ transferencia.monto_total }}</td>
                            <td>
                                <button data-toggle="modal" data-target="#responsive-modal-detalle-transferencia" class="btn btn-inline btn-info" type="button" (click)="detalle_transferencia(transferencia.id_transaccion)">
                                    <i class="material-icons"> visibility </i>
                                </button>
                                <button class="btn btn-inline" type="button">
                                    <i class="material-icons"> edit </i>
                                </button>
                                <button class="btn btn-inline btn-danger" type="button" (click)="bajaTransferencia(transferencia.id_transaccion)">
                                    <i class="material-icons"> delete </i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->
    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->

<!-- =========== MODAL Detalle transferencia =========== -->
<div class="col-md-8">
    <div id="responsive-modal-detalle-transferencia" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalle transferencia</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="1">
                                    #
                                </th>
                                <th>Suc. Origen</th>
                                <th>Suc. Destino</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lt of lineas_transferencia">
                                <td>{{ lt.id_lineas_transferencias }}</td>
                                <td>{{ lt.suc_origen }}</td>
                                <td>{{ lt.suc_destino }}</td>
                                <td>{{ lt.producto }}</td>
                                <td>{{ lt.cantidad }}</td>
                                <td>
                                    <button class="btn btn-inline btn-danger" type="button" (click)="baja_linea_transferencia(lt.id_lineas_transferencias)">
                                        <i class="material-icons"> delete </i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button #divCerrarModalDetalleTransferencia type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>
