<br /><br /><br />
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-8">
        <div class="box_account">
            <h3 class="client">Acceso</h3>
            <div class="form_container">
                <form ngNativeValidate #f="ngForm" class="login100-form validate-form p-b-33 p-t-5" (ngSubmit)="loginCliente(f)">
                    <div class="form-group" [ngClass]="errorCredenciales ? 'error' : ''">
                        <input ngModel type="email" class="form-control" name="email" required placeholder="Email">
                    </div>
                    <div class="form-group" [ngClass]="errorCredenciales ? 'error' : ''">
                        <input ngModel class="form-control" type="password" name="password" required placeholder="Contraseña">
                    </div>
                    <div *ngIf="errorCredenciales">
                        <p style="color:red;">Error de credenciales</p>
                    </div>
                    <div class="float-right"><a id="forgot" [routerLink]="['/recuperar-clave']">Olvidaste tu contraseña?</a></div>
                    <div class="text-center">
                        <input type="submit" value="Iniciar sesion" class="btn_1 full-width">
                    </div>
                    <br>
                    <div class="float-right">
                        <a [routerLink]="['/registro']">Registrate</a>
                    </div>
                    <br>
                </form>
            </div>
            <!-- /form_container -->
        </div>
        <!-- /box_account -->
    </div>
    <br /><br /><br /><br />