<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Promocion : </label>
                    <input tabindex="1" [(ngModel)]="Promocion" name="Promocion" (keyup)='cambiaPromocion($event)'  required type="text" placeholder="Promocion..." class="form-control" required>
                </div>
                <div class="col-sm-6">
                    <br>
                    <label>Precio : <strong>$ {{totalPromocion}}</strong></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Articulos</h4>
             <!-- ========== Buscador producto ============ -->
             <div class="row">
                <div class="col-md-3">
                    <div class="ng-autocomplete">
                        <ng-autocomplete [data]="productos" [searchKeyword]="keywordProducto" placeholder="Selecciona producto" 
                        (selected)='selectEventProducto($event)' (inputChanged)='onChangeSearchProducto($event)' 
                        (inputFocused)='onFocusedProducto($event)' [itemTemplate]="itemTemplateProducto"
                        [notFoundTemplate]="notFoundTemplateProducto">
                        </ng-autocomplete>
                    </div>
                    <ng-template #itemTemplateProducto let-item>
                        <a [innerHTML]="item.codigoProductoSabor"></a>
                    </ng-template>
                    <ng-template #notFoundTemplateProducto let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
                <div class="col-md-3">
                    <input [(ngModel)]="cantidadLineaPromocion" type="text" maxlength="3" class="form-control" placeholder="Cantidad...">
                </div>
                <div class="col-md-2" style="left: 150px;">
                    <button (click)="agregarLineaPromocion()" type="button" class="btn btn-info btn-circle"><i class="fa fa-plus"></i> </button>
                </div>
            </div>

            <!-- ========== Fin Buscador producto ============ -->
            <br/><br/>
            <!-- ===== Tabla con listado de productos ===== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Productos agregados a la promocion</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>SubTotal</th>
                                            <th class="text-nowrap"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let linea of lineas_promocion">
                                            <td>{{linea.Codigo }}</td>
                                            <td>{{linea.Producto }}</td>
                                            <td>{{linea.Cantidad }}</td>
                                            <td>{{linea.PrecioVenta }}</td>
                                            <td class="text-nowrap">
                                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-3">
                                    <h4>Total : $ {{totalPromocion}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===== Fin Tabla con listado de productos ===== -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Descripcion : </label>
            <textarea tabindex="14" name="Descripcion" (keyup)='cambiaDescripcion($event)' type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
        </div>
    </div>
    <br>
    <button type="submit" (click)="altaPromocion()" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Promocion</button>
    <br>
</div>