<div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Backups 
                                <i class="material-icons"> sync </i>
                            </h4>
                            <p class="card-text">Historico de copias de seguridad de la base de datos.</p>
                            <a [routerLink]="['/dashboard/configuraciones/backups']" class="btn btn-info">Acceder</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Configuraciones empresa
                                <i class="material-icons"> settings </i>
                            </h4>
                            <p class="card-text">Valores generales de la empresa,como nombres,impuestos,etc.</p>
                            <a [routerLink]="['/dashboard/configuraciones/empresa']" class="btn btn-info">Acceder</a>
                        </div>
                    </div>
                </div>
            </div>
</div>
<br>
<br>
