<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">

            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad imagenes ( <small> {{totalImagenes }} </small> )</h3>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-sm-4">
                        <button [routerLink]="['/dashboard/productos/imagenes/nueva/' + IdProducto]" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i> 
                      Nueva Imagen
                    </button>
                    </div>
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Imagen</th>
                            <th>Nombre Imagen</th>
                            <th>Producto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let imagen of imagenes">
                            <td>{{ imagen.IdImagen }}</td>
                            <td>
                                <img [src]="url_imagenes_producto + imagen.Archivo" alt="user-img" width="100" height="100">
                            </td>
                            <td>{{ imagen.Imagen }}</td>
                            <td>
                                {{ imagen.Producto }}
                            </td>
                            <td>
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                </button>
                                <button (click)="eliminarImagen(imagen.IdImagen)" class="btn btn-inline btn-danger" type="button">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->