<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Imagen : </label>
                    <input (change)="nombreImagenChange($event)" name="NombreImagen" type="text" placeholder="Nombre de la imagen..." class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Seleccionar Imagen...</label>
                    <div class="text-center">
                        <input class="" type="file" (change)="onChange($event)" name="imagen">
                    </div>

                    <!--Flag variable is used here-->
                    <!-- <div class="container" *ngIf="loading">
                        <h3>Loading ...</h3>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" (click)="onUpload()" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Imagen</button>
    <br>
</div>