<br /><br />

<main class="bg_gray">
    <br /><br /><br /><br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div id="confirm">
                    <div class="icon icon--order-success svg add_bottom_15">
                        <div style="padding-left: 150px;">
                            <i class="ti-email fa fa-minus-square-o" style="font-size: 4em;"></i>
                        </div>
                    </div>
                    <h2>Registro pendiente!</h2>
                    <p>Chequea tu casilla de email, te enviamos un email de confirmacion!</p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <br /><br /><br /><br />
</main>
<!--/main-->