<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Proveedor :  </label>
                        <input (keyup.enter)="buscarProveedor( )" #inputProveedorBuscado  type="text" class="form-control" placeholder="Buscar proveedor..." id="buscarProveedor">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarProveedor( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-1 form-group" style="margin-top: 25px;">
                        <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary "><span class="material-icons">
                            refresh
                            </span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad proveedores ( <small> {{ totalProveedores }} </small> )</h3>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <button [routerLink]="['/dashboard/proveedores/nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                          <i class="fa fa-plus"></i> 
                          Nuevo Proveedor
                        </button>
                    </div>     
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Proveedor</th>
                            <th>CUIL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proveedor of proveedores">
                            <td>{{ proveedor.id_proveedor }}</td>
                            <td>{{ proveedor.proveedor }}</td>
                            <td>{{ proveedor.cuil }}</td>
                            <td>
                                <button [routerLink]="['/dashboard/proveedor',proveedor.IdProveedor]" class="btn btn-inline" type="button">Editar</button>
                                <button class="btn btn-inline btn-danger" type="button" (click)="bajaProveedor(proveedor.IdProveedor)">Eliminar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </section>

        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->